body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.content {
  margin-top: 40px;
}

.content > div {
  max-width: 300px;
  margin: 0 auto;
}
.content > div >div:first-child {
  height: 400px;
    overflow: auto;
    padding-right: 30px;
}
.binc {
  height: 80px;
  width: 300px;
  background: red;
  margin-bottom: 10px;  
}
.bread-top,
.bread-bottom {
  background: #eaaf56ab;
  border-radius: 20px;
}
.bread-top {
  border-radius: 80px;
  height: 115px;
}
.cheese {
  background:#eccf3eab;
}
.meat {
  background:#d87d3cab;
}
.cheese,
.meat,
.bacon {
  height: 20px;
  border-radius: 20px;
}
.bread-bottom{
  border-top-right-radius: 0;
  border-top-left-radius:0;
}
.bread-top{
  border-bottom-right-radius: 0;
  border-bottom-left-radius:0;
}
